doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/fonts.css')
        script(src='/javascripts/lib/jquery-3.2.1.min.js')
        script(src='/javascripts/display2.js')
    body
        .value(style="font-size:250px;")
