doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/display.css')
        link(rel='stylesheet', href='/stylesheets/fonts.css')
        script(src='/javascripts/lib/jquery-3.2.1.min.js')
        script(src='/javascripts/lib/dx.all.js')
        script(src='/javascripts/display.js')
    body
        .wrapper
            #gaugeContainer.display
            .info
                ul.hidden
                    li=           'Остановлена'

                ul
                    li=           'Обучение'

                ul.hidden
                    li=           'Взвешивание'
                    li=           'без отбора'

                ul.hidden
                    li=           'Взвешивание'
                    li=           'отбор'
                    li#weights=   ''
                    li=           'Отобрано:'
                    li#selection= ''
            .value
