extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/emulator.js')

block content
    h2= 'Хартбит'
    .bytes
        input(value= '2', disabled)
        input(value= '3')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '255')
        input(value= '1')
        input(value= '0')
        input(value= '1')
        input(value= '0')
        input(value= '1')
        input(value= '0')
        input(value= '1')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        a.emulate(href='')= 'Эмулировать'

    h2= 'Событие'
    .bytes
        input(value= '4', disabled)
        input(value= '0')
        input(value= '1')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '48')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        input(value= '0')
        a.emulate(href='')= 'Эмулировать'
