extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/errors.js')



block content
    -
        var error_titles = [
            'вес не стабилен',
            'вход не открылся',
            'вход не закрылся',
            'выход на убой не открылся',
            'выход в жизнь не открылся',
            'нет реакции на стимуляцию',
            'выход не закрылся',
            'калибровка не удалась',
            'ошибка входных данных'
        ]

    .g-stripe
        .b-material
            h1= 'Ошибки'
            .b-material-body
                .b-material-table
                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="10%")= 'Дата'
                                td(width="10%")= 'Время'
                                td(width="60%")= 'Ошибка'
                            each datum in data
                                tr
                                    td(width="10%")= datum.date
                                    td(width="10%")= datum.time
                                    td(width="60%") #{error_titles[datum.value_int]}
