extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/events.js')

block content
    .g-stripe
        .b-material
            h1= 'События'
            h4= 'Текущая партия - '+batch.title
            .b-material-body
                .b-material-table
                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="10%")= 'Дата'
                                td(width="10%")= 'Время'
                                td(width="30%")= 'Событие'
                                td(width="30%")= 'Комментарий'
                                td(width="10%")= 'Удалить'
                                td(width="10%")= 'Отменить'
                            - var flag = true
                            each datum in data
                                tr
                                    - if (datum.event_type_id == 12) { flag = false; }
                                    td(width="10%")= datum.date
                                    td(width="10%")= datum.time
                                    td(width="30%")= datum.title + '(' + datum.value_int + ')'
                                    td(width="30%")= datum.value_text
                                    td(width="10%")
                                        a.remove(data-id=datum.id)= '🗙'
                                    td(width="10%")
                                        if flag
                                            a.undo(data-id=datum.id)= '⎌'
