extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/index.js')

block content
    h2= 'Состояние станции'

    input#is_rt_cbx(type='checkbox', checked='checked')
    label(for='is_rt_cbx')= 'Обновление в реальном времени'

    ul.devices
        each device in devices_list
            li
                label= device.title
                input(type= 'text', value= device.value, disabled= 'disabled')
                if device.commands.length
                    h4= 'Команды'
                    ul.commands
                        each command in device.commands
                            li
                                a(href='', data-device_code=device.code, data-command_code=command.code)= command.title
                                if command.params.length
                                    each param in command.params
                                        label= param.title
                                        input.command_param(type='text', data-param_code=param.code)
                    br
                if device.events.length
                    h4= 'События'
                    ul.events
                    br
