doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/fonts.css')
        link(rel='stylesheet', href='/stylesheets/material.css')
        link(rel='stylesheet', href='/stylesheets/emulator.css')
        block scripts
            script(src='/javascripts/lib/jquery-3.2.1.min.js')
            script(type='text/javascript').
                const error_message= "#{error_message}";
                const info_message=  "#{info_message}";
            script(src='/javascripts/layout.js')
    body
        .g-600
        .g-1000
        .b-page
            .b-header-wrapper
                .b-header
                    h1
                        a#station_title(href='/')= station_params.station_title
                    input#station_title_value.b-input(placeholder= '[название]', style="display:none;width:140px;", value= station_params.station_title)
                    a#station_title_save.b-button02(style="display:none;")= 'Сохранить'
                    //if station_params.name
                    //    span#connection_info= station_params.group + '_' + station_params.name
                    //else
                    //    span#connection_info= 'not connected'
                    .b-menu
                        ul
                            li
                                a(href='/panel')= 'Управление'
                            li
                                a(href='/statistics')= 'Статистика'
                            li
                                a(href='/events')= 'События'
                            li
                                a(href='/errors')= 'Ошибки'
                            li
                                a(href='/settings')= 'Настройки'

            .b-content-wrapper
                .b-content
                    block content

            .b-footer-wrapper
                .b-footer

        #GlobalMessageType1

