extends layout

block append scripts
    script(type='text/javascript').
        var devices_list= !{JSON.stringify(devices_list)}
    script(type='text/javascript', src='/javascripts/panel.js')

block content
    .g-stripe
        .b-material
            h1= 'Управление'
            .b-material-body

                a(name='station_mode_anchor')
                h2= 'Режим работы станции'
                    a(href='#batch_state_anchor') ▼

                .b-material-table#station_mode
                    table(cellspacing="0", style="display:none;")
                        tbody
                            tr.main
                                td(width="50%")= 'Текущий режим'
                                td(width="50%")= 'Остановлена(авария)'

                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="50%")= 'Текущий режим'
                                td(width="50%")= 'Обучение(открытый вход)'

                    table(cellspacing="0", style="display:none;")
                        tbody
                            tr.main
                                td(width="50%")= 'Текущий режим'
                                td(width="50%")= 'Взвешивание без отбора'

                    table(cellspacing="0", style="display:none;")
                        tbody
                            tr.main
                                td(width="50%")= 'Текущий режим'
                                td(width="50%")= 'Взвешивание с отбором'
                            tr
                                td(width="50%")= 'Масса, кг'
                                td(width="50%")
                                    span= 'от '
                                    a#min_weight(href='')= station_params.min_weight
                                    input#min_weight_value.b-input(placeholder= '', style="display:none;width:140px;")
                                    a#min_weight_save.b-button02(style="display:none;")= 'Сохранить'
                                    span= ' до '
                                    a#max_weight(href='')= station_params.max_weight
                                    input#max_weight_value.b-input(placeholder= '', style="display:none;width:140px;")
                                    a#max_weight_save.b-button02(style="display:none;")= 'Сохранить'
                            tr
                                td(width="50%")= 'Требуется отобрать, шт.'
                                td(width="50%")
                                    a#selection_total(href='')= station_params.selection_total
                                    input#selection_total_value.b-input(placeholder= '', style="display:none;width:140px;")
                                    a#selection_total_save.b-button02(style="display:none;")= 'Сохранить'
                            tr
                                td(width="50%")= 'Отобрано, шт.'
                                td#selection_count(width="50%")= station_params.selection_count

                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="50%")= 'Текущий режим'
                                td(width="50%")= 'Запрос настроек'

                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="50%")= 'Текущий режим'
                                td(width="50%")= 'Обучение(всё открыто)'

                .b-home-release-buttons#station_mode_buttons
                    ul
                        li.toggle_station_mode.mode_1.mode_2.mode_3.mode_4
                            a.b-button02(data-device_code='0', data-command_code='12')= 'Переключить на Обучение(всё открыто)'
                        li.toggle_station_mode.mode_1.mode_3.mode_4.mode_5(style="display:none;")
                            a.b-button02(data-device_code='0', data-command_code='1')= 'Переключить на Взвешивание без отбора'
                        li.toggle_station_mode.mode_1.mode_2.mode_4.mode_5(style="display:none;")
                            a.b-button02(data-device_code='0', data-command_code='2')= 'Переключить на Взвешивание c отбором'
                            input.b-input(placeholder= '[количество]')
                            input.b-input(placeholder= '[мин масса]')
                            input.b-input(placeholder= '[макс масса]')
                        li.toggle_station_mode.mode_0(style="display:none;")
                            a.b-button02(data-device_code='0', data-command_code='3')= 'Сбросить аварию'
                        li.toggle_station_mode.mode_2.mode_3.mode_4.mode_5(style="display:none;")
                            a.b-button02(data-device_code='0', data-command_code='0')= 'Переключить на Обучение(открытый вход)'
                        li.toggle_station_mode.mode_1.mode_5(style="display:none;")
                            a.b-button02(data-device_code='0', data-command_code='13')= 'Включить чередование выходов'
                        li.toggle_station_mode.mode_1.mode_5(style="display:none;")
                            a.b-button02(data-device_code='0', data-command_code='14')= 'Выключить чередование выходов'
                br
                br

                a(name='batch_state_anchor')
                h2= 'Состояние партии'
                    a(href='#station_mode_anchor') ▲
                    a(href='#station_state_anchor') ▼

                .b-material-table
                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="50%")= 'Название'
                                td#batch_title(width="50%")= batch.title
                            tr
                                td(width="50%")= 'Дата запуска партии'
                                td#batch_start_time(width="50%")= batch.start_date
                            tr
                                td(width="50%")= 'Прошло дней с момента запуска'
                                td#batch_days_from_start(width="50%")=  batch.days_from_start

                .b-home-release-buttons
                    ul
                        li
                            a#new_batch.b-button02= 'Новая партия'
                            input#new_batch_title.b-input(placeholder= '[название]', style="display:none;")
                            input#new_batch_start_count.b-input(placeholder= '[количество]', style="display:none;")
                            a#new_batch_save.b-button02(style="display:none;")= 'Создать партию'
                .b-material-table
                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="50%")= 'Исходное количество свиней'
                                td#batch_start_count(width="50%")= batch.start_count
                            tr
                                td(width="50%")= 'Количество свиней на данный момент'
                                td#batch_current_count(width="50%")= batch.current_count
                .b-home-release-buttons
                    ul
                        li
                            a#fix_current_count.b-button02= 'Корректировать количество свиней'
                            input#fix_current_count_value.b-input(placeholder= '[количество]', style="display:none;")
                            input#fix_current_count_title.b-input(placeholder= '[причина]', style="display:none;")
                            a#fix_current_count_save.b-button02(style="display:none;")= 'Cкорректировать'

                .b-material-table
                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="50%")= 'Количество павших за всё время'
                                td#deaths_total(width="50%")= batch.deaths_total
                            tr
                                td(width="50%")= 'Количество павших за последние 7 дней'
                                td#deaths_last_7_days(width="50%")= batch.deaths_last_7_days

                .b-home-release-buttons
                    ul
                        li
                            a#pig_death.b-button02= 'Свинья умерла'
                            input#pig_death_title.b-input(placeholder= '[причина]', style="display:none;")
                            a#pig_death_save.b-button02(style="display:none;")= 'Подтвердить'
                br
                br

                a(name='station_state_anchor')
                h2= 'Состояние станции'
                    a(href='#station_mode_anchor') ▲

                .b-material-table
                    table#station_state(cellspacing="0")
                        tbody
                            each device in devices_list
                                if device.code > 0
                                    tr
                                        td(width="30%")= device.title
                                        td.display_value(width="10%")= device.display_value
                                        td(width="60%")
                                            each command, index in device.commands
                                                a.command_button.b-command-button(data-device_code=device.code, data-command_code=command.code).b-button02= command.title
                                                if command.params.length
                                                    each param in command.params
                                                        input.b-input.command_param(placeholder= param.title, type='text', data-param_code=param.code, style= "width:130px;")
