extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/settings.js')



block content

    .g-stripe
        .b-material
            h1= 'Настройки'
            .b-material-body
                .b-material-table
                    table#station_state(cellspacing="0")
                        tbody
                            each datum in data
                                tr
                                    td(width="30%")= datum.title
                                    td.display_value(id= 'setting_'+datum.code,width="10%")= datum.value
                                    td(width="60%")
                                        a.command_button.b-command-button(data-device_code=datum.device_code, data-command_code=datum.command_code).b-button02= datum.command_title
                                        if datum.param
                                            input.b-input.command_param(placeholder= '['+datum.param+']', type='text', style= "width:230px;")

