extends layout

block append scripts
    script(type='text/javascript').
        var data= !{JSON.stringify(data)}
    script(type='text/javascript', src='/javascripts/lib/highcharts.js')
    script(type='text/javascript', src='/javascripts/lib/xlsx.full.min.js')
    script(type='text/javascript', src='/javascripts/lib/Blob.js')
    script(type='text/javascript', src='/javascripts/lib/FileSaver.js')
    script(type='text/javascript', src='/javascripts/statistics.js')

block content
    .g-stripe
        .b-material
            h1= 'Статистика'
            .b-material-body
                span= 'Выберите партию для отображения'
                select.b-input(style="width:250px;")
                    each batch in batches
                        if selected_batch_id == batch.id
                            option(value= batch.id, selected)= batch.title+'('+batch.start_date+'-'+(batch.end_date||'сегодня')+')'
                        else
                            option(value= batch.id)= batch.title+'('+batch.start_date+'-'+(batch.end_date||'сегодня')+')'
                a#save_as_xlsx.b-button02(data-batch_id= selected_batch_id)= 'Сохранить в XLSX'

                .b-material-table
                    table(cellspacing="0")
                        tbody
                            tr.main
                                td(width="20%")= 'Дата'
                                td(width="10%")= 'Кол-во взвешиваний'
                                td(width="10%")= 'Средняя масса'
                                td(width="10%")= 'Средний привес'
                                td(width="10%")= 'Мин. масса'
                                td(width="10%")= 'Макс. масса'
                                td(width="10%")= 'Кол-во избранных'
                                td(width="10%")= 'Кол-во павших'
                                td(width="10%")= 'Кол-во в партии'
                            each datum in data
                                tr
                                    td(width="20%")= datum.date
                                    td(width="10%")= datum.total_weighings_count
                                    td(width="10%")= Math.round(datum.total/datum.total_weighings_count)
                                    td(width="10%")= ''
                                    td(width="10%")= datum.min_weight
                                    td(width="10%")= datum.max_weight
                                    td(width="10%")= datum.success_weighings_count
                                    td(width="10%")= datum.death_count
                                    td(width="10%")= ''

                h4= 'Количество взвешиваний'
                #weighing_count(style="min-width: 310px; height: 400px; margin: 0 auto")
