.wrapper {position: absolute;left: 0px;top: 0px;font-family:HouschkaBold;width:348px;height:282px;border:1px solid #000;}
.display {position: absolute;left: 20px;top: -10px;font-family:HouschkaBold;width:330px;height:272px;}
.value   {position:absolute;left:-75px;top:210px;width:500px;height:272px;z-index:300;font-size:80px;text-align:center;}
.info    {position: absolute;left: 350px;top: 0px;font-family:HouschkaBold;width:150px;height:272px;z-index:300;}
.info ul  {margin: 0; padding:0;list-style-type: none;}
.info ul li {font-size: 22px;}
.hidden  {display: none;}