@charset "UTF-8";

@font-face {
    font-family: 'HouschkaBold';
    src: url('/fonts/HouschkaBold.eot');
    src: url('/fonts/HouschkaBold.woff') format('woff'),
         url('/fonts/HouschkaBold.ttf') format('truetype'),
         url('/fonts/HouschkaBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaDemiBold';
    src: url('/fonts/HouschkaDemiBold.eot');
    src: url('/fonts/HouschkaDemiBold.woff') format('woff'),
         url('/fonts/HouschkaDemiBold.ttf') format('truetype'),
         url('/fonts/HouschkaDemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
 }


@font-face {
    font-family: 'HouschkaExtraBold';
    src: url('/fonts/HouschkaExtraBold.eot'); 
    src: url('/fonts/HouschkaExtraBold.woff') format('woff'),
         url('/fonts/HouschkaExtraBold.ttf') format('truetype'),
         url('/fonts/HouschkaExtraBold.svg') format('svg'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaMedium';
    src: url('/fonts/HouschkaMedium.eot'); 
    src: url('/fonts/HouschkaMedium.woff') format('woff'),
         url('/fonts/HouschkaMedium.ttf') format('truetype'),
         url('/fonts/HouschkaMedium.svg') format('svg'); 
    font-weight: normal;
    font-style: normal;
}