/* -------------------- material */

.b-material {font-size:20px;line-height:28px;color:#3b3b42;margin:0 0 40px 0}
/*.b-material a {color:#29a9e1}
.b-material a:hover {color:#ee2a51;text-decoration:underline}
.b-material a:visited {}*/

.b-material h1 {font-family:HouschkaBold;font-size:60px;line-height:60px;color:#3b3b42;text-align:center;padding:0 100px;margin:0 0 40px 0}
.b-material h1 span {font-family:HouschkaMedium}

.b-material-author {font-size:14px;font-family:HouschkaBold;margin:0 0 20px 0;text-align:center;text-transform:uppercase}

.b-material-date {font-size:14px;line-height:24px;margin:0 0 40px 0;text-align:center;position:relative}
.b-material-date:before {content:"";width:24px;height:24px;display:inline-block;background:url(../img/clock-icon2.png) 0 0 no-repeat;vertical-align:top;margin:0 13px 0 0}

.b-material-social {width:100%;position:relative;margin:0 0 50px 0}
.b-material-social:after {content:"";display:block;clear:both}
.b-material-social .ya-share2 {position:relative;right:50%;float:right}
.b-material-social .ya-share2__container {position:relative;z-index:1;right:-50%}
.b-material-social__share-text {font-size:16px;line-height:16px;font-family:HouschkaBold;color:#c2c2c2;width:100px;position:absolute;top:-60px;right:180px}
.b-material-social__share-text i {width:89px;height:53px;display:block;background:url(../img/material-arrow.png) 0 0 no-repeat;position:absolute;bottom:-60px;left:-85px;opacity:0.1}
.b-material-social__share-text2 {font-size:16px;line-height:16px;font-family:HouschkaBold;color:#c2c2c2;width:140px;position:absolute;top:0;right:130px}
.b-material-social__share-text2 i {width:90px;height:28px;display:block;background:url(../img/material-arrow2.png) 0 0 no-repeat;position:absolute;bottom:-6px;left:-100px;opacity:0.1}


.b-material-body {padding:0 150px 0 50px;margin:0 0 60px 0}

.b-material-after-body {padding:0 150px;margin:0 0 80px 0}
.b-material-after-body p {margin:0 0 20px 0}

@media (max-width: 1000px) {

.b-material {font-size:16px;line-height:24px}

.b-material h1 {font-size:36px;line-height:36px;padding:0 30px}

.b-material-body {padding:0 30px}

.b-material-after-body {padding:0 30px}

.b-material-social__share-text, .b-material-social__share-text2 {font-size:14px;line-height:14px;width:auto;position:static;text-align:center;margin:0 0 15px 0;white-space:nowrap}
.b-material-social__share-text i, .b-material-social__share-text2 i {display:none}

}

/* -------------------- mult */

.b-mult {position:relative;min-height:340px;margin:0 0 50px 0}
.b-mult__img {width:340px;display:block;position:absolute;top:0;left:0}
.b-mult__img img {width:100%}
.b-mult__desc {padding:0 290px 0 390px;font-family:HouschkaDemiBold;font-size:16px;line-height:24px;color:#3b3b42;min-height:340px;margin:0 0 50px 0}
.b-mult__info {padding:0 50px 0 390px;font-family:HouschkaDemiBold;font-size:16px;color:#3b3b42}
.b-mult__info p {margin:0 0 10px 0}
.b-mult__info p span {color:#919399}
.b-mult__media {position:absolute;top:0;right:50px;font-size:0}

.b-mult__videos {width:200px;padding:123px 0 0 0;position:relative;text-align:center;font-family:HouschkaDemiBold;font-size:16px;color:#c2c2c2;margin:0 0 20px 0}
.b-mult__videos a {color:#c2c2c2}
.b-mult__videos a u {display:block;width:200px;height:113px;background:#2b2943;border-radius:20px;position:absolute;top:0;left:0;opacity:0.3}
.b-mult__videos a span {width:54px;height:54px;border-radius:54px;background:#319640 url(../img/play-icon2.png) 15px 15px no-repeat;box-shadow:0 3px rgba(28, 106, 39, 1);position:absolute;top:29px;left:50%;margin:0 0 0 -27px}
.b-mult__videos a img {width:200px;height:113px;border-radius:20px;position:absolute;top:0;left:0}
.b-mult__videos a:hover u {opacity:0}

.b-mult__galleries {width:200px;padding:123px 0 0 0;position:relative;text-align:center;font-family:HouschkaDemiBold;font-size:16px;color:#c2c2c2}
.b-mult__galleries a {color:#c2c2c2}
.b-mult__galleries a u {display:block;width:200px;height:113px;background:#2b2943;border-radius:20px;position:absolute;top:0;left:0;opacity:0.3}
.b-mult__galleries a:before {content:"";width:190px;height:113px;background:#bfc0c2;border-radius:20px;position:absolute;top:4px;left:5px}
.b-mult__galleries a img {width:200px;height:113px;border-radius:20px;position:absolute;top:0;left:0}
.b-mult__galleries a:hover u {opacity:0}

@media (max-width: 1000px) {

.b-mult__img {width:200px;display:block;position:absolute;top:0;left:30px}
.b-mult__desc {padding:0 30px 0 260px;min-height:200px;margin:0 0 30px 0}
.b-mult__info {padding:0 30px 0 30px;margin:0 0 30px 0}

.b-mult__media {position:static;padding:0 0 0 30px}
.b-mult__videos {display:inline-block;margin:0 15px 15px 0}
.b-mult__galleries {display:inline-block}

}

@media (max-width: 600px) {

.b-mult__img {width:100%;display:block;position:static;margin:0 0 30px 0}
.b-mult__desc {padding:0 30px;min-height:auto;margin:0 0 30px 0}
.b-mult__info {padding:0 30px;margin:0 0 30px 0}

}

/* -------------------- release */

.b-release {position:relative;min-height:340px;margin:0 0 50px 0}
.b-release__img {width:340px;display:block;position:absolute;top:0;left:0}
.b-release__img img {width:100%}
.b-release__desc {padding:0 50px 0 390px;font-family:HouschkaDemiBold;font-size:16px;line-height:24px;color:#3b3b42;margin:0 0 50px 0}
.b-release__buttons {padding:0 0 0 390px;margin:0 0 50px 0}
.b-release__buttons .b-button01 {margin:0 18px 11px 0}
.b-release__buttons .b-button02 i {width:24px;height:24px;display:inline-block;background:url(../img/clock-icon.png) 0 0 no-repeat;vertical-align:middle;margin:0 0 0 11px;opacity:0.6}
.b-release__info {padding:0 50px 0 150px;margin:0 0 80px 0;font-family:HouschkaDemiBold;font-size:18px;color:#3b3b42}
.b-release__info p {margin:0 0 30px 0}
.b-release__info p span {color:#919399}

.b-release-mults {position:relative;overflow:hidden;margin:0 0 80px 0}
.b-release-mults-list {}
.b-release-mults-list ul {list-style-type:none}
.b-release-mults-list ul li {min-height:270px;position:relative;margin:0 0 5px 0;color:#919399}
.b-release-mults-list ul li:before {content:"";width:100%;margin:0 0 0 350px;height:1px;border-bottom:1px dashed #ccc;position:absolute;bottom:-3px;left:0}
.b-release-mults-list__title {padding:40px 50px 0 390px;margin:0 0 15px 0;font-family:HouschkaBold;font-size:30px}
.b-release-mults-list__title a {color:#3b3b42}
.b-release-mults-list__img {width:340px;display:block;position:absolute;top:0;left:0}
.b-release-mults-list__img img {width:100%}
.b-release-mults-list__episode {padding:0 50px 0 390px;margin:0 0 15px 0;font-size:18px}
.b-release-mults-list__desc {padding:0 50px 0 390px;font-family:HouschkaDemiBold;font-size:16px;line-height:22px}

@media (max-width: 1000px) {
.b-release  {margin:0 0 30px 0}
.b-release__img {width:200px;left:30px}
.b-release__desc {padding:0 30px 0 260px;min-height:200px;margin:0 0 30px 0}
.b-release__buttons {padding:0 30px 0 30px;margin:0 0 30px 0}
.b-release__buttons .b-button01 {width:220px;text-align:center}
.b-release__buttons .b-button02 {width:220px;text-align:center}
.b-release__buttons .b-button02 i {display:none}
.b-release__info {padding:0 30px;margin:0 0 40px 0;font-size:16px}
.b-release__info p {margin:0 0 10px 0}

.b-release-mults {margin:0 0 40px 0}
.b-release-mults-list ul li {min-height:200px;margin:0 0 30px 0}
.b-release-mults-list ul li:before {display:none}
.b-release-mults-list__img {width:200px;left:30px} 
.b-release-mults-list__title {padding:0 30px 0 260px;font-size:26px}
.b-release-mults-list__episode {padding:0 30px 0 260px}
.b-release-mults-list__desc {padding:0 30px 0 260px}


}

@media (max-width: 600px) {

.b-release__img {width:100%;display:block;position:static;margin:0 0 30px 0}
.b-release__desc {padding:0 30px;min-height:auto}
.b-release__info {padding:0 30px;margin:0 0 30px 0}

.b-release-mults-list__img {width:100%;display:block;position:static;margin:0 0 20px 0} 
.b-release-mults-list__title {padding:0 30px;}
.b-release-mults-list__episode {padding:0 30px;}
.b-release-mults-list__desc {padding:0 30px;}

}



/* -------------------- media */

.b-video-player-wrapper {}
.b-video-player-wrapper object {}
.b-video-player {width:700px;height:394px}

@media (max-width: 1000px) {

.b-video-player-wrapper {position:relative;padding-top:0px;padding-bottom:56.25%;height:0}
.b-video-player-wrapper object {position:absolute;top:0;left:0;width:100%;height:100%}
.b-video-player {position:absolute;top:0;left:0;width:100%;height:100%}


}



/* ---------------------------------------- simple bb */

.b-material__item_bold {font-weight:bold}
.b-material__item_italic {font-style:italic}
.b-material__item_underline {text-decoration:underline}
.b-material__item_linethrough {text-decoration:line-through}

.b-material h2 {font-family:HouschkaBold;font-size:46px;line-height:46px;color:#3b3b42;margin:0 0 30px 0}
.b-material h3 {font-family:HouschkaBold;font-size:42px;line-height:42px;color:#3b3b42;margin:0 0 30px 0}
.b-material h4 {font-family:HouschkaBold;font-size:38px;line-height:38px;color:#3b3b42;margin:0 0 30px 0}
.b-material h5 {font-family:HouschkaBold;font-size:34px;line-height:34px;color:#3b3b42;margin:0 0 30px 0}

.b-material br {}

.b-material ul {list-style:disc inside;margin:0;padding:0}
.b-material ul li {}

.b-material ol {list-style-position:inside;margin:0;padding:0}
.b-material ol li {}

@media (max-width: 1000px) {

.b-material h2 {font-size:34px;line-height:34px}
.b-material h3 {font-size:32px;line-height:32px}
.b-material h4 {font-size:30px;line-height:30px}
.b-material h5 {font-size:28px;line-height:28px}

}



/* ---------------------------------------- incuts bb */

.b-material-incut {}
.b-material-incut-l {}
.b-material-incut-r {}

.b-material-incut-image-l {float:left;margin:0 30px 0 0}
.b-material-incut-image-l img {width:230px;border:0;vertical-align:top}
.b-material-incut-image-l p {width:230px;font-size:14px;line-height:15px;padding:20px 0 0 0;margin:0 0 20px 0;color:#3c3b41}

.b-material-incut-image-r {float:right;margin:0 0 0 30px}
.b-material-incut-image-r img {width:230px;border:0;vertical-align:top}
.b-material-incut-image-r p {width:230px;font-size:14px;line-height:15px;padding:20px 0 0 0;margin:0 0 20px 0;color:#3c3b41}

.b-material-incut-m-image {position:relative}
.b-material-incut-m-image img {width:600px}
.b-material-incut-m-image p {font-size:14px;line-height:15px;padding:20px 0 0 0;margin:0 0 30px 0;color:#3c3b41}

.b-material-incut-b-image {position:relative}
.b-material-incut-b-image img {width:1000px;position:relative;margin:0 0 0 -150px}
.b-material-incut-b-image p {font-size:14px;line-height:15px;padding:20px 0 0 0;margin:0 0 30px 0;color:#3c3b41}

.b-material-incut-history {position:relative;margin:0 -100px 0 0;background:#f1f1f1;border-radius:54px;padding:30px 40px 40px  40px;font-size:18px}
.b-material-incut-history .title {font-family:HouschkaDemiBold;font-size:20px;text-transform:uppercase;margin:0 0 20px 0}

.b-material-incut-expert {position:relative;margin:0 -100px 0 0;background:#f1f1f1;border-radius:54px;padding:30px 40px 40px  40px;font-size:18px}
.b-material-incut-expert .title {font-family:HouschkaDemiBold;font-size:20px;text-transform:uppercase;margin:0 0 20px 0}

.b-material-incut-expert__expert {width:115px;margin:0 0 20px 0;display:block;position:relative;float:left}
.b-material-incut-expert__expert-name {font-family:HouschkaDemiBold;font-size:16px;line-height:16px;margin:0 0 10px 0;white-space:pre-line;font-style:normal}
.b-material-incut-expert__expert-activity {font-size:14px;line-height:14px;color:#4d4d4d;font-style:normal}
.b-material-incut-expert__expert img {width:115px;height:115px;border-radius:115px;margin:0 0 10px 0}

.b-material-incut-expert .text {margin:0 0 0 145px}

.b-material-incut-themes-links-l {width:230px;float:left;margin:0 30px 0 0}
.b-material-incut-themes-links-l .title {font-family:HouschkaDemiBold;font-size:20px;text-transform:uppercase;padding:0;margin:0 0 20px 0}
.b-material-incut-themes-links-l ul {list-style-type:none;margin:0 0 10px 0}
.b-material-incut-themes-links-l ul li {list-style-type:none;list-style-position:outside;margin:0 0 20px 0;padding:0;line-height:18px}
.b-material-incut-themes-links-l ul li a {font-size:18px;line-height:18px}

.b-material-incut-themes-links-r {width:230px;float:right;margin:0 0 0 30px}
.b-material-incut-themes-links-r .title {font-family:HouschkaDemiBold;font-size:20px;text-transform:uppercase;padding:0;margin:0 0 20px 0}
.b-material-incut-themes-links-r ul {list-style-type:none;margin:0 0 10px 0}
.b-material-incut-themes-links-r ul li {list-style-type:none;list-style-position:outside;margin:0 0 20px 0;padding:0;line-height:18px}
.b-material-incut-themes-links-r ul li a {font-size:18px;line-height:18px}

.b-material-table {font-size:18px;position:relative;margin:0 -100px 0 0}
.b-material-table table {width:100%;border:0;padding:0}

.b-material-table table tr {}
.b-material-table table tr td {border-bottom:1px solid #fff;padding:10px;background:#fff}
/*.b-material-table table tr td a {color:#006b9a}*/

.b-material-table table tr.main {font-family:HouschkaDemiBold}
.b-material-table table tr.main td {background:#c6c6c6}

.b-material-table table td.red {background:#ee2a51;color:#fff}
.b-material-table table td.red a {color:#fff}
.b-material-table table td.green {background:#51b748;color:#fff}
.b-material-table table td.green a {color:#fff}
.b-material-table table td.yellow {background:#fabd2d;color:#fff}
.b-material-table table td.yellow a {color:#fff}

.b-material-table p {font-size:14px;line-height:15px;padding:20px 0 0 0;margin:0 0 30px 0;color:#3c3b41}

.b-material .b-incut-video {}

.b-material-incut-gallery {position:relative;margin:0 -250px 0 -150px;overflow:hidden}
.b-material-incut-gallery .list {height:240px}
.b-material-incut-gallery .list ul {list-style-type:none}
.b-material-incut-gallery .list ul li {}
.b-material-incut-gallery .list ul li img {width:330px;height:240px}
.b-material-incut-gallery .list .bx-wrapper {}
.b-material-incut-gallery .list .bx-wrapper .bx-prev {position:absolute;left:-48px;top:50%;margin:-48px 0 0 0;background:#51b748 url(../img/prev-icon.png) 55px 36px no-repeat;width:96px;height:96px;border-radius:96px;text-indent:-9999px}
.b-material-incut-gallery .list .bx-wrapper .bx-next {position:absolute;right:-48px;top:50%;margin:-48px 0 0 0;background:#51b748 url(../img/next-icon.png) 17px 36px no-repeat;width:96px;height:96px;border-radius:96px;text-indent:-9999px}

@media (max-width: 1000px) {

.b-material-incut-image-l {float:none;margin:0}
.b-material-incut-image-l p {width:100%}
.b-material-incut-image-r {float:none;margin:0}
.b-material-incut-image-r p {width:100%}

.b-material-incut-m-image img {width:100%}

.b-material-incut-b-image {margin:0 -30px}
.b-material-incut-b-image img {width:100%;position:relative;margin:0}
.b-material-incut-b-image p {margin:0 30px 30px 30px}

.b-material-incut-history {font-size:16px;margin:0}

.b-material-incut-expert {font-size:16px;margin:0}

.b-material-incut-themes-links-l {float:none;margin:0;width:100%}
.b-material-incut-themes-links-l ul li {line-height:16px;}
.b-material-incut-themes-links-l ul li a {font-size:16px;line-height:16px}
.b-material-incut-themes-links-r {float:none;margin:0;width:100%}
.b-material-incut-themes-links-r ul li {line-height:16px;}
.b-material-incut-themes-links-r ul li a {font-size:16px;line-height:16px}

.b-material-table {font-size:16px;margin:0}

.b-material-incut-gallery {margin:0 -30px}

}

@media (max-width: 600px) {

.b-material-incut-history {margin:0 -30px;border-radius:0}

.b-material-incut-expert {margin:0 -30px;border-radius:0}
.b-material-incut-expert__expert {width:100%;float:none}
.b-material-incut-expert__expert img {width:80px;height:80px;border-radius:80px}
.b-material-incut-expert .text {margin:0}

.b-material-table {font-size:14px;margin:0}

.b-material .b-incut-video {margin:0 -30px}

}


