* {padding:0;margin:0}

.g-clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden}

html {}

body {font-family:HouschkaMedium;font-size:14px;background:#f4ecd8;color:#000;min-width:320px;-webkit-text-size-adjust:none}

a {color:#29a9e1;text-decoration:none}
a:hover {color:#ee2a51;cursor:pointer;text-decoration:underline}
a:visited {}
a:focus {outline:none}
a img {border:0}

input:focus {outline:none}
select:focus {outline:none}

/* ---------------------------------------- layouts */

.b-page {}
.b-page_home {background:url(../img/bg2.png) 50% 0 no-repeat}

.b-header-wrapper {height:94px;background:#fff;position:relative}
.b-header {max-width:1000px;height:94px;margin:0 auto;position:relative}

.b-content-wrapper {}
.b-content {max-width:1000px;margin:0 auto;min-height:600px}

.b-footer-wrapper {}
.b-footer {position:relative}

.b-footer-stripe01-wrapper {background:#fff}
.b-footer-stripe01 {max-width:1000px;padding:50px 0 25px 0;margin:0 auto}

.b-footer-stripe02-wrapper {background:#212329}
.b-footer-stripe02 {max-width:1000px;padding:60px 0 50px 0;margin:0 auto}

.b-footer-stripe03-wrapper {background:#fff}
.b-footer-stripe03 {max-width:1000px;min-height:135px;margin:0 auto;position:relative}

.g-stripe {min-height:600px;background:#fff;margin:40px 0 0 0;padding:60px 0 0 0;border-radius:15px 15px 0 0;border-bottom:2px solid #e8e9e9}

.g-1000 {display:none}
.g-600 {display:none}

.contest { position: fixed; right: 0; bottom: 0; transition: 0.15s; display: inline-block; width: 350px; }
.contest img { width: 100% }
.contest img.i2 { position: absolute; left: 0; top: 0}

.contest img.i2{ 
    -webkit-animation: backlight linear 2.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: backlight linear 2.5s;
    -moz-animation-iteration-count: infinite;
    -o-animation: backlight linear 2.5s;
    -o-animation-iteration-count: infinite;
    -ms-animation: backlight linear 2.5s;
    -ms-animation-iteration-count: infinite;
    animation: backlight linear 2.5s;
    animation-iteration-count: infinite;
}
@-moz-keyframes backlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes backlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes backlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes backlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes backlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1000px) {

.contest { width: 70vw; right: 50%; margin-right: -35vw }

}

@media (max-width: 1000px) {

.g-stripe {padding:40px 0 0 0;}

.g-1000 {display:block}

}

@media (max-width: 600px) {

.g-600 {display:block}

}


/* ---------------------------------------- header */

.b-menu-button {width:24px;height:24px;display:block;background:url(/images/menu-icon.png) 0 0 no-repeat;position:absolute;top:50%;left:22px;margin:-12px 0 0 0;display:block}

.b-logo {width:136px;height:56px;position:absolute;top:50%;margin:-28px 0 0 0;left:70px;display:block}
.b-logo img {width:136x;height:56px}

.b-menu {position:absolute;top:35px;left:340px;font-size:0}
.b-menu ul {list-style-type:none}
.b-menu ul li {display:inline-block;position:relative;margin:0 25px 0 0}
.b-menu ul li a {font-family:HouschkaBold;font-size:20px;line-height:20px;color:#2a2410}
.b-menu ul li a:hover {color:#ee2a51}

.b-hidden-menu {position:absolute;z-index:2;top:94px;left:0;background:#fff;box-shadow: inset 0px 10px 10px rgba(241,241,241,1);padding:30px 0 0 0;display:none}
.b-hidden-menu ul {list-style-type:none}
.b-hidden-menu ul li {position:relative;display:block;line-height:48px;padding:0 60px 0 40px}
.b-hidden-menu ul li a {font-family:HouschkaBold;font-size:20px;line-height:20px;color:#2a2410}
.b-hidden-menu ul li a:hover {color:#ee2a51}

.b-hidden-menu__part01 {display:none}
.b-hidden-menu__part02 {}
.b-hidden-menu__part02 ul {margin:0 0 20px 0}
.b-hidden-menu__part02 ul li.actual a {color:#ee2a51}
.b-hidden-menu__part03 {display:none}


.b-header-buy-button {position:absolute;right:93px;top:50%;margin:-29px 0 0 0}

.b-header-auth-button {position:absolute;right:22px;top:50%;margin:-29px 0 0 0}
.b-header-auth-button a {width:54px;height:54px;display:block;border-radius:54px;background:#f4f4f4 url(../img/lock-icon.png) 15px 15px no-repeat;box-shadow:0 3px rgba(221, 221, 221, 1)}


@media (max-width: 1000px) {

.b-menu {display:none}
.b-header-buy-button {display:none}

.b-hidden-menu {width:100%}
.b-hidden-menu__part01 {display:block}
.b-hidden-menu__part03 {display:block}
.b-header-buy-button2 {padding:0 0 0 40px;margin:0 0 60px 0}

/*

.b-menu-adaptive {position:absolute;z-index:1;top:94px;left:0;width:100%;background:#fff;box-shadow: inset 0px 10px 10px rgba(241,241,241,1);display:none}
.b-menu {position:static;font-size:auto}
.b-menu ul {list-style-type:none;padding:30px 0 0 0;margin:0 0 20px 0}
.b-menu ul li {position:relative;display:block;line-height:48px;padding:0 0 0 40px}
.b-header-buy-button {position:static;padding:0 0 0 40px;margin:0 0 60px 0}

*/

}


/* ---------------------------------------- content */

.b-home-video-bg {position:absolute;top:0;left:0;z-index:0;width:100%}
.b-home-video-bg video {width:100%;height:100%}
.b-home-video__poster {width:100%;height:100%;background:url(../vid/mult.jpg) 50% top no-repeat;position:absolute;top:0;left:0;background-size:cover;display:none}
.b-home-video__bg1 {width:100%;height:100%;background:#000;opacity:0.1;position:absolute;top:0;left:0}
.b-home-video__bg2 {width:100%;height:100%;background:url(../img/video-bg.png) 50% bottom no-repeat;position:absolute;top:0;left:0}

.b-home-main {height:455px;text-align:center;display:table;width:100%;position:relative}
.b-home-main div {display:table-cell;width:100%;vertical-align:middle}
.b-home-main__text01 {padding:0 20px;margin:0 0 20px 0;font-size:72px;line-height:72px;color:#fff}
.b-home-main__text01 span {display:block;font-family:HouschkaExtraBold}
.b-home-main__text02 {font-size:15px;font-family:HouschkaBold;color:#fabd2d;text-transform:uppercase;letter-spacing:2px;text-decoration:underline}

@media (max-width: 1000px) {

.b-home-video-bg {display:none}

.b-home-main {height:420px;margin:0 0 -30px 0;background:url(../img/bg3.jpg) 50% 0 no-repeat;background-size:cover}
.b-home-main__text01 {font-size:48px;line-height:48px}
.b-home-main__text02 {margin:0 0 30px 0}

}

.b-home-about {background:#51b748 url(../img/home-about-bg.png) 0 100% no-repeat;border-radius:25px 25px 0 0;position:relative}
.b-home-about:before {content:"";width:83px;height:68px;background:url(../img/home-about-arrow.png) 0 0 no-repeat;display:block;position:absolute;top:-24px;left:50%;margin:0 0 0 -42px}
.b-home-about__header {font-size:48px;font-family:HouschkaExtraBold;padding:50px 0 50px 0;text-align:center;color:#fff;}
.b-home-about__header span {display:inline-block;padding:0 0 15px 0;background:url(../img/wave.png) 0 100% repeat-x}
.b-home-about__text {font-size:0;padding:0 0 60px 0}
.b-home-about__text ul {list-style-type:none}
.b-home-about__text ul li {width:290px;padding:160px 0 0 0; display:inline-block;position:relative;vertical-align:top}
.b-home-about__text ul li:nth-child(1) {margin:0 0 0 65px}
.b-home-about__text ul li i {width:290px;height:160px;display:block;position:absolute;top:0;left:50%;margin:0 0 0 -145px}
.b-home-about__text ul li i.step01 {background:url(../img/home-about-step01.png) 0 8px no-repeat}
.b-home-about__text ul li i.step02 {background:url(../img/home-about-step02.png) 0 0 no-repeat}
.b-home-about__text ul li i.step03 {background:url(../img/home-about-step03.png) 0 8px no-repeat}
.b-home-about__text ul li p {font-family:HouschkaDemiBold;font-size:16px;line-height:24px;color:#285d07;padding:0 40px 0 10px}
.b-home-about__text ul li p span {display:block;font-family:HouschkaBold;font-size:30px;color:#fff;margin:0 0 24px 0}
.b-home-about__text .bx-wrapper {}
.b-home-about__text .bx-wrapper .bx-prev {display:none}
.b-home-about__text .bx-wrapper .bx-next {display:none}
.b-home-about__text .bx-wrapper .bx-pager {text-align:center;margin:0 0 0 0}
.b-home-about__text .bx-wrapper .bx-pager .bx-pager-item {display:inline-block}
.b-home-about__text .bx-wrapper .bx-pager.bx-default-pager a {background:#97d491;display:inline-block;font-size:0;height:12px;width:12px;border-radius:12px;margin:0 5px;box-shadow:0 3px rgba(121, 183, 116, 1);}
.b-home-about__text .bx-wrapper .bx-pager.bx-default-pager a.active {background:none;border:4px solid #fff;box-shadow:none}


@media (max-width: 1000px) {

.b-home-about__text ul li {width:100%;padding:160px 0 0 0}
.b-home-about__text ul li:nth-child(1) {margin:0}
.b-home-about__text ul li p {padding:0 50px 20px 50px}

}

@media (max-width: 600px) {

.b-home-about__header {font-size:30px}

}

.b-home-release {position:relative}
.b-home-release__header {height:150px;padding:0 0 0 50px;font-family:HouschkaExtraBold;font-size:36px;line-height:62px;position:relative;display:table-cell;vertical-align:middle;text-transform:uppercase}
.b-home-release__header a {color:#fff;text-decoration:none}
.b-home-release__header strong {font-family:HouschkaDemiBold;font-weight:normal;text-transform:none;display:block;line-height:36px}
.b-home-release__header-issue {min-width:113px;height:62px;line-height:62px;display:inline-block;text-align:center;background:url(../img/home-release-issue-bg.png) 50% 0 no-repeat}
.b-home-release__header-issue i {font-size:18px;font-style:normal}
.b-home-release-buttons {position:relative;/*right:50px;*/}
.b-home-release-buttons ul {list-style-type:none}
.b-home-release-buttons ul li {display:block;vertical-align:top;margin:0 0 11px 0}
.b-home-release-buttons ul li .b-button02 i {width:24px;height:24px;display:inline-block;background:url(../img/clock-icon.png) 0 0 no-repeat;vertical-align:middle;margin:0 0 0 11px;opacity:0.6}
.b-home-release-buttons ul li a.b-button02 {color:#fff;text-decoration: none}
.b-home-release-buttons ul li p {padding:11px 0 0 0;text-align:center;font-family:HouschkaDemiBold;font-size:14px;color:#a188e6;margin:0 0 11px 0}
.b-home-release__header2 {height:150px;padding:0 50px 0 50px;font-family:HouschkaDemiBold;font-size:36px;line-height:36px;position:relative;display:table-cell;vertical-align:middle}
.b-home-release__header2 a {color:#fff;text-decoration:none}
.b-home-release__header2 strong {font-family:HouschkaExtraBold;font-weight:normal}
.b-home-release__header2-issue {min-width:107px;height:67px;line-height:67px;display:inline-block;text-align:center;background:url(../img/home-release-issue-bg2.png) 50% 0 no-repeat}
.b-home-release__header2-issue i {font-size:18px;font-style:normal}

.b-home-release-list {font-size:0;}
.b-home-release-list ul {list-style-type:none}
.b-home-release-list ul li {width:33%;display:inline-block;position:relative;margin:0 0.5% 0 0;vertical-align:top}
.b-home-release-list ul li:nth-child(3n) {margin:0}
.b-home-release-list__count {width:32px;height:32px;border-radius:32px;background:#fc6337;display:block;position:absolute;bottom:-16px;left:50%;margin:0 0 0 -16px;z-index:1;font-family:HouschkaBold;font-size:18px;line-height:32px;text-align:center;color:#fff;text-decoration:none;font-style:normal}
.b-home-release-list__title {font-family:HouschkaExtraBold;font-size:18px;line-height:18px;margin:0 0 5px 0;text-align:center;position:relative}
.b-home-release-list__title span {display:inline-block;width:auto;margin:0 40px}
.b-home-release-list__title a {color:#fff}
.b-home-release-list__title a:hover span {text-decoration:underline}
.b-home-release-list__title a:hover .b-home-release-list__img:before {content:"";width:100%;height:100%;background:#2b2943;position:absolute;top:0;left:0;z-index:1;opacity:0.3}
.b-home-release-list__img {width:100%;display:block;margin:0 0 42px 0;position:relative;font-size:0;line-height:0}
.b-home-release-list__img img {width:100%}
.b-home-release-list__desc {font-family:HouschkaDemiBold;font-size:18px;line-height:24px;padding:0 40px;margin:0 0 42px 0;text-align:center;position:relative}

.b-home-release-list__info-wrapper {width:100%;position:absolute;top:0;left:0;z-index:2;display:block}
.b-home-release-list__info {width:100%;position:absolute;top:0;left:0;z-index:2;display:none}
.b-home-release-list__info p {margin:0 0 15px 0;text-align:center}
.b-home-release-list__info .b-button01, .b-home-release-list__info .b-button02 {width:200px}
.b-home-release-list__label {padding:15px 0}
.b-home-release-list__label span {width:141px;height:56px;font-family:HouschkaExtraBold;font-size:14px;line-height:56px;display:inline-block;text-align:center;background:url(../img/home-release-issue-bg3.png) 0 0 no-repeat;color:#fff;text-transform:uppercase}
.b-home-release-list__more {font-family:HouschkaBold;font-size:16px;line-height:32px;text-transform:uppercase}
.b-home-release-list__more a {color:#fff;text-decoration:underline;}
.b-home-release-list__more a i {content:"";width:32px;height:32px;display:inline-block;background:url(../img/eye-icon.png) 0 0 no-repeat;vertical-align:middle;margin:0 15px 0 0}

.b-home-release-list ul li.active .b-home-release-list__title:hover .b-home-release-list__img:before {content:"";width:100%;height:100%;border:10px solid #fff;border-radius:10px;box-shadow:0 0 50px 0 #51b748;background:#51b748;opacity:0.8;position:absolute;top:-10px;left:-10px;z-index:1}
.b-home-release-list ul li.active .b-home-release-list__title:hover .b-home-release-list__info {display:block}

.b-home-release_now {background:#463588 url(../img/home-release-bg.png) 0 100% no-repeat}
.b-home-release_now .b-home-release-list__count {background:#fc6337}
.b-home-release_now .b-home-release-list__title-link:hover {color:#fc6337}
.b-home-release_now .b-home-release-list__desc {color:#9183cb;}
.b-home-release_soon {background:#4366cb url(../img/home-release-bg.png) 0 100% no-repeat}
.b-home-release_soon .b-home-release-list__count {background:#fabd2d}
.b-home-release_soon .b-home-release-list__title-link:hover {color:#fabd2d}
.b-home-release_soon .b-home-release-list__desc {color:#183179}
.b-home-release-list .bx-wrapper {}
.b-home-release-list .bx-wrapper .bx-prev {display:none}
.b-home-release-list .bx-wrapper .bx-next {display:none}
.b-home-release-list .bx-wrapper .bx-pager {text-align:center;margin:0 0 32px 0}
.b-home-release-list .bx-wrapper .bx-pager .bx-pager-item {display:inline-block}
.b-home-release-list .bx-wrapper .bx-pager.bx-default-pager a {background:#9086b8;display:inline-block;font-size:0;height:12px;width:12px;border-radius:12px;margin:0 5px;box-shadow:0 3px rgba(53, 43, 93, 1);}
.b-home-release-list .bx-wrapper .bx-pager.bx-default-pager a.active {background:none;border:4px solid #fff;box-shadow:none}


@media (max-width: 1000px) {

.b-home-release__header {font-size:30px;line-height:30px;padding:0 30px}

.b-home-release-buttons {position:static;margin:0 auto}
.b-home-release-buttons ul li .b-button01 {width:220px;text-align:center}
.b-home-release-buttons ul li .b-button02 {width:220px;text-align:center}
.b-home-release-buttons ul li .b-button02 i {display:none}

.b-home-release__header2 {font-size:30px;line-height:30px;padding:0 30px}

.b-home-release-list ul li {width:49.75%;margin:0 0.5% 0 0}
.b-home-release-list ul li:nth-child(3n) {margin:0 0.5% 0 0}
.b-home-release-list ul li:nth-child(2n) {margin:0}
.b-home-release-list__title  {}
.b-home-release-list__title span {margin:0 20px}
.b-home-release-list__desc {margin:0 0 32px 0}
.b-home-release-list__img {margin:0 0 32px 0}

.b-home-release-list ul li.active .b-home-release-list__title:hover .b-home-release-list__img:before {border:none;border-radius:0;top:0;left:0}

.b-home-release_mult ul li:nth-child(3n) {display:none}

}

@media (max-width: 600px) {

.b-home-release-list ul li {width:100%}
.b-home-release-list ul li:nth-child(3n) {margin:0}

.b-home-release_mult ul li:nth-child(3n) {display:block}

.b-home-release-list__desc {min-height:100px;margin:0}


}

.b-home-videos {background:#f5f7f4;position:relative}
.b-home-videos-list {position:relative}
.b-home-videos-list ul.b-home-videos-list__list {list-style-type:none}
.b-home-videos-list ul.b-home-videos-list__list li {width:408px;height:440px;position:relative}
.b-home-videos-list__title {font-family:HouschkaExtraBold;font-size:18px;line-height:24px;padding:280px 20px 0 54px;margin:0 0 6px 0;position:relative}
.b-home-videos-list__title a {color:#288ac1}
.b-home-videos-list__title a:hover {color:#319640}
.b-home-videos-list__title a:hover u {opacity:0}
.b-home-videos-list__title i {width:408px;height:268px;background:url(../img/home-videos-bg.png) 0 0 no-repeat;display:block;position:absolute;top:0;left:0}
.b-home-videos-list__title u {width:408px;height:268px;background:#2b2943;display:block;position:absolute;top:0;left:0;opacity:0.3}
.b-home-videos-list__title span {width:70px;height:70px;border-radius:70px;background:#319640 url(../img/play-icon.png) 19px 19px no-repeat;box-shadow:0 3px rgba(28, 106, 39, 1);position:absolute;top:85px;left:50%;margin:0 0 0 -35px}
.b-home-videos-list__img {width:384px;height:244px;position:absolute;top:11px;left:12px}
.b-home-videos-list__desc {font-family:HouschkaDemiBold;font-size:16px;color:#919399;line-height:24px;padding:0 20px 0 54px}
.b-home-videos-list .bx-wrapper {}
.b-home-videos-list .bx-wrapper .bx-prev {position:absolute;top:99px;left:24px;background:#fabd2d url(../img/prev-icon.png) 15px 15px no-repeat;width:54px;height:54px;border-radius:54px;box-shadow:0 3px rgba(202, 128, 0, 1);text-indent:-9999px}
.b-home-videos-list .bx-wrapper .bx-next {position:absolute;top:99px;right:24px;background:#fabd2d url(../img/next-icon.png) 15px 15px no-repeat;width:54px;height:54px;border-radius:54px;box-shadow:0 3px rgba(202, 128, 0, 1);text-indent:-9999px}

@media (max-width: 1000px) {

}

@media (max-width: 600px) {

.b-home-videos-list ul.b-home-videos-list__list li {width:288px;height:auto}

.b-home-videos-list__title {padding:202px 20px 0 44px}
.b-home-videos-list__title i {width:288px;height:190px;background:url(../img/home-videos-bg2.png) 0 0 no-repeat}
.b-home-videos-list__title u {width:288px;height:190px}
.b-home-videos-list__title span {top:45px}
.b-home-videos-list__img {width:264px;height:168px}
.b-home-videos-list__desc {min-height:150px;padding:0 20px 0 44px}

.b-home-videos-list .bx-wrapper {margin:0 auto}
.b-home-videos-list .bx-wrapper .bx-prev {display:none}
.b-home-videos-list .bx-wrapper .bx-next {display:none}
.b-home-videos-list .bx-wrapper .bx-pager {text-align:center;margin:0 0 32px 0}
.b-home-videos-list .bx-wrapper .bx-pager .bx-pager-item {display:inline-block}
.b-home-videos-list .bx-wrapper .bx-pager.bx-default-pager a {background:#efefef;display:inline-block;font-size:0;height:12px;width:12px;border-radius:12px;margin:0 5px;box-shadow:0 3px rgba(221, 221, 221, 1);}
.b-home-videos-list .bx-wrapper .bx-pager.bx-default-pager a.active {background:none;border:4px solid #b4b4b4;box-shadow:none}

}

.b-news {position:relative}
.b-news .b-pagination {margin:0 0 50px 0}
.b-news_home {background:#fff;margin:0}
.b-news-list {font-size:0;position:relative;margin:0 0 60px 0}
.b-news-list_home {margin:0}
.b-news-list ul {list-style-type:none}
.b-news-list ul li {width:33%;display:inline-block;position:relative;margin:0 0.5% 0 0;vertical-align:top}
.b-news-list ul li:nth-child(3n) {margin:0}
.b-news-list__title {font-family:HouschkaBold;font-size:16px;line-height:24px;margin:0 0 42px 0;text-align:center;position:relative}
.b-news-list__title span {display:inline-block;width:auto;margin:0 40px}
.b-news-list__title a {color:#2e3c54}
.b-news-list__title a:hover {color:#fabd2d;text-decoration:underline}
.b-news-list__title a:hover span {text-decoration:underline}
.b-news-list__img {width:100%;display:block;margin:0 0 42px 0;position:relative;font-size:0;line-height:0}
.b-news-list__img img {width:100%}
.b-news-list__title a:hover .b-news-list__img:before {content:"";width:100%;height:100%;background:#fabd2d;opacity:0.8;position:absolute;top:0;left:0;z-index:1}
.b-news-list__title a:hover .b-news-list__img:after {content:"";width:100%;height:100%;border:10px solid #fff;border-radius:10px;box-shadow:0 0 50px 0 #fabd2d;background:url(../img/eye-icon2.png) 50% 50% no-repeat;position:absolute;top:-10px;left:-10px;z-index:2}
.b-news-list .bx-wrapper {}
.b-news-list .bx-wrapper .bx-prev {display:none}
.b-news-list .bx-wrapper .bx-next {display:none}
.b-news-list .bx-wrapper .bx-pager {text-align:center;margin:0 0 32px 0}
.b-news-list .bx-wrapper .bx-pager .bx-pager-item {display:inline-block}
.b-news-list .bx-wrapper .bx-pager.bx-default-pager a {background:#efefef;display:inline-block;font-size:0;height:12px;width:12px;border-radius:12px;margin:0 5px;box-shadow:0 3px rgba(221, 221, 221, 1);}
.b-news-list .bx-wrapper .bx-pager.bx-default-pager a.active {background:none;border:4px solid #b4b4b4;box-shadow:none}


@media (max-width: 1000px) {

.b-news .b-pagination {margin:0 0 30px 0}

.b-news-list {margin:0 0 30px 0}
.b-news-list_home {margin:0}

.b-news-list ul li {width:49.75%;margin:0 0.5% 0 0}
.b-news-list ul li:nth-child(3n) {margin:0 0.5% 0 0}
.b-news-list ul li:nth-child(2n) {margin:0}
.b-news-list__title {margin:0 0 32px 0}
.b-news-list__title span {padding:0 20px}
.b-news-list__img {margin:0 0 32px 0}
.b-news-list__title a:hover .b-news-list__img:after {border:0;border-radius:0;top:0;left:0}

.b-news_mult ul li:nth-child(3n) {display:none}

}

@media (max-width: 600px) {

.b-news-list ul li {width:100%;margin:0}
.b-news-list ul li:nth-child(3n) {margin:0}
.b-news-list__title {}
.b-news-list__title span {}

.b-news_mult ul li:nth-child(3n) {display:block}

}

.b-mults-and-persons {background:#fff;overflow:hidden;position:relative}
.b-mults-and-persons-list {list-style-type:none;position:relative}
.b-mults-and-persons-list ul li {width:290px;height:460px;position:relative}
.b-mults-and-persons-list__title {font-family:HouschkaExtraBold;font-size:24px;padding:360px 20px 0 20px;position:relative;text-align:center}
.b-mults-and-persons-list__title a {color:#3b3b42}
.b-mults-and-persons-list__title a:hover {color:#4f3b9c}
.b-mults-and-persons-list__img {width:290px;height:360px;position:absolute;top:0;left:0}
.b-mults-and-persons-list .bx-wrapper {}
.b-mults-and-persons-list .bx-wrapper .bx-prev {position:absolute;top:140px;left:-48px;background:#4f3b9c url(../img/prev-icon.png) 55px 36px no-repeat;width:96px;height:96px;border-radius:96px;text-indent:-9999px}
.b-mults-and-persons-list .bx-wrapper .bx-next {position:absolute;top:140px;right:-48px;background:#4f3b9c url(../img/next-icon.png) 17px 36px no-repeat;width:96px;height:96px;border-radius:96px;text-indent:-9999px}

.b-mults-and-persons2 {background:#fabd2d;overflow:hidden;position:relative}
.b-mults-and-persons2-list {list-style-type:none;position:relative}
.b-mults-and-persons2-list ul li {width:290px;height:460px;position:relative}
.b-mults-and-persons2-list__title {font-family:HouschkaExtraBold;font-size:24px;padding:360px 20px 0 20px;position:relative;text-align:center}
.b-mults-and-persons2-list__title a {color:#fff}
.b-mults-and-persons2-list__title a:hover {color:#4f3b9c}
.b-mults-and-persons2-list__img {width:290px;height:360px;position:absolute;top:0;left:0}
.b-mults-and-persons2 .bx-wrapper {}
.b-mults-and-persons2 .bx-wrapper .bx-prev {position:absolute;top:140px;left:-48px;background:#fff url(../img/prev-icon2.png) 55px 36px no-repeat;width:96px;height:96px;border-radius:96px;text-indent:-9999px}
.b-mults-and-persons2 .bx-wrapper .bx-next {position:absolute;top:140px;right:-48px;background:#fff url(../img/next-icon2.png) 17px 36px no-repeat;width:96px;height:96px;border-radius:96px;text-indent:-9999px}


.b-home-games {background:#183247}
.b-home-games-list {font-size:0}
.b-home-games-list ul {list-style-type:none}
.b-home-games-list ul li {width:50%;padding:0 0 30px 0;display:inline-block;vertical-align:top;position:relative}
.b-home-games-list ul li:nth-child(2n) {background:#162e42}
.b-home-games-list__title {font-family:HouschkaExtraBold;font-size:30px;text-transform:uppercase;padding:0 40px 0 50px;margin:0 0 20px 0;position:relative}
.b-home-games-list__title a {color:#fff}
.b-home-games-list__title a:hover {color:#fabd2d}
.b-home-games-list__img {width:100%;display:block;margin:0 0 42px}
.b-home-games-list__img img {width:100%}
.b-home-games-list__desc {font-family:HouschkaDemiBold;font-size:16px;line-height:24px;color:#667290;padding:0 90px 0 50px;margin:0 0 60px 0}
.b-home-games-list__desc a {color:#b3bcd0;text-decoration:none;border-bottom:1px solid #fabd2d}
.b-home-games-list__desc a:hover {color:#fabd2d}

.b-home-game-download {min-height:104px;position:relative;padding:0 0 0 50px}
.b-home-game-download__icon {width:105px;height:104px;display:block;margin:0 0 16px 0}
.b-home-game-download__text {font-family:HouschkaExtraBold;font-size:25px;line-height:25px;color:#6e95b4;margin:0 0 22px 0;position:absolute;top:0;left:170px;padding:0 30px 0 0}
.b-home-game-download__buttons {position:absolute;top:47px;left:170px}
a.b-home-game-download__button {height:46px;padding:8px 11px 0 45px;border-radius:10px;display:inline-block;background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1);font-family:HouschkaDemiBold;font-size:15px;line-height:18px;color:#fff;display:inline-block;margin:0 9px 9px 0;position:relative}
a.b-home-game-download__button.apple:before {content:"";width:32px;height:32px;background:url(../img/apple.png) 0 0 no-repeat;display:block;position:absolute;top:50%;left:10px;margin:-16px 0 0 0}
a.b-home-game-download__button.google:before {content:"";width:32px;height:32px;background:url(../img/google.png) 0 0 no-repeat;display:block;position:absolute;top:50%;left:10px;margin:-16px 0 0 0}
a.b-home-game-download__button span {display:block}
a.b-home-game-download__button:hover {text-decoration:none;background:#ffdd00;box-shadow:0 3px rgba(217, 156, 0, 1)}


@media (max-width: 1000px) {

.b-home-games-list ul li {}
.b-home-games-list__title {padding:0 30px}
.b-home-games-list__desc {padding:0 30px}

.b-home-game-download {padding:0 0 0 30px}
.b-home-game-download__text {left:150px}
.b-home-game-download__buttons {position:static}


}

@media (max-width: 600px) {

.b-home-games-list ul li {width:100%}

a.b-home-game-download__button {font-size:14px}

}

.b-shedule-filter {margin:0 0 0 50px;border-bottom:2px dotted #dfe0e3;font-size:0}
.b-shedule-filter form {}
.b-shedule-filter fieldset {border:none}
.b-shedule-filter legend {display:none}
.b-shedule-filter__data {margin:0 0 40px 0}
.b-shedule-filter__header {font-family:HouschkaDemiBold;font-size:36px;line-height:36px;color:#3b3b42;display:inline-block;margin:0 45px 0 0}

.b-shedule-filter__region {display:inline-block;vertical-align:top;margin:10px 0 0 0;height:24px;width:160px;padding:0 0 0 34px;position:relative;overflow:hidden}
.b-shedule-filter__region:before {content:"";width:24px;height:24px;background:url(../img/geo-icon.png) 0 0 no-repeat;display:block;position:absolute;top:0;left:0}
.b-shedule-filter__region select {height:24px;widtH:130%;font-family:HouschkaExtraBold;font-size:14px;color:#919399;text-transform:uppercase;border:0;background:transparent;background-image:none;-webkit-appearance:none}
.b-shedule-filter__region select option {padding:3px 0}

.b-shedule-filter__tabs {display:inline-block;vertical-align:top;margin:0 10px 12px 0}
.b-shedule-filter__tabs ul {list-style-type:none;}
.b-shedule-filter__tabs ul li {display:inline-block;vertical-align:top;background:#f4f4f4;box-shadow:0 3px rgba(221, 221, 221, 1);}
.b-shedule-filter__tabs ul li a {display:inline-block;line-height:54px;font-family:HouschkaDemiBold;font-size:16px;color:#262626;padding:0 15px;position:relative}

.b-shedule-filter__tabs ul li:first-child {border-radius:54px 0 0 54px}
.b-shedule-filter__tabs ul li:first-child a {padding:0 15px 0 30px}
.b-shedule-filter__tabs ul li:last-child {height:54px;padding:0 15px;width:140px;overflow:hidden;border-radius:0 54px 54px 0;background:#f1f1f1;position:relative}
.b-shedule-filter__tabs ul li:last-child:before {content:"";width:16px;height:16px;background:url(../img/select-icon.png) 0 0 no-repeat;display:block;position:absolute;top:19px;right:20px}
.b-shedule-filter__tabs ul li select {height:54px;width:140%;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#262626;background:transparent;background-image:none;-webkit-appearance:none}
.b-shedule-filter__tabs ul li select option {padding:3px 0}
.b-shedule-filter__tabs ul li.active {background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1)}


.b-shedule-filter__tabs2 {display:inline-block;vertical-align:top;height:54px;padding:0 20px;width:140px;overflow:hidden;margin:0 10px 12px 0;border-radius:54px;background:#f1f1f1;position:relative;display:none}
.b-shedule-filter__tabs2:before {content:"";width:16px;height:16px;background:url(../img/select-icon.png) 0 0 no-repeat;display:block;position:absolute;top:19px;right:20px}
.b-shedule-filter__tabs2 select {height:54px;width:140%;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#262626;background:transparent;background-image:none;-webkit-appearance:none}
.b-shedule-filter__tabs2 select option {padding:3px 0}

.b-shedule-filter__search {display:inline-block;vertical-align:top;height:54px;padding:0 20px 0 54px;margin:0 10px 12px 0;border-radius:54px;background:#f1f1f1;position:relative}
.b-shedule-filter__search:before {content:"";width:24px;height:24px;background:url(../img/search-icon.png) 0 0 no-repeat;display:block;position:absolute;top:15px;left:20px;opacity:0.2}
.b-shedule-filter__search input {width:140px;height:54px;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#c2c2c2;background:none}

.b-shedule-filter__release {display:inline-block;vertical-align:top;height:54px;padding:0 20px;width:140px;overflow:hidden;margin:0 10px 12px 0;border-radius:54px;background:#f1f1f1;position:relative}
.b-shedule-filter__release:before {content:"";width:16px;height:16px;background:url(../img/select-icon.png) 0 0 no-repeat;display:block;position:absolute;top:19px;right:20px}
.b-shedule-filter__release select {height:54px;width:140%;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#262626;background:transparent;background-image:none;-webkit-appearance:none}
.b-shedule-filter__release select option {padding:3px 0}

.b-shedule-filter__switch {display:inline-block;vertical-align:top;margin:0 10px 12px 0}
.b-shedule-filter__switch ul {list-style-type:none;}
.b-shedule-filter__switch ul li {display:inline-block}
.b-shedule-filter__switch ul li a {display:inline-block;width:32px;height:54px;line-height:54px;background:#f4f4f4;box-shadow:0 3px rgba(221, 221, 221, 1);position:relative}
.b-shedule-filter__switch ul li a i {width:32px;height:32px;display:block;margin:11px 0 0 0}
.b-shedule-filter__switch ul li:first-child a {border-radius:54px 0 0 54px;padding:0 15px 0 20px}
.b-shedule-filter__switch ul li:first-child a i {background:url(../img/switch-icon.png) 0 0 no-repeat}
.b-shedule-filter__switch ul li:last-child a {border-radius:0 54px 54px 0;padding:0 20px 0 15px}
.b-shedule-filter__switch ul li:last-child a i {background:url(../img/switch-icon2.png) 0 0 no-repeat}
.b-shedule-filter__switch ul li.active a {background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1)}

.b-shedule-list {padding:0 0 0 50px;margin:0 0 50px 0;font-size:0}
.b-shedule-list ul {list-style-type:none}
.b-shedule-list li {width:100%;display:table}
.b-shedule-list__place-and-address {width:35%;display:table-cell}
.b-shedule-list__place {font-family:HouschkaExtraBold;font-size:20px;color:#288ac1;padding:0 20px 0 0;margin:0 0 10px 0}
.b-shedule-list__address {font-family:HouschkaDemiBold;font-size:15px;color:#919399;padding:0 20px 0 0}
.b-shedule-list__times {width:65%;padding:50px 0 40px 0;display:table-cell;border-bottom:2px dotted #dfe0e3}
.b-shedule-list li:last-child .b-shedule-list__times {border:none}
.b-shedule-list__time {height:54px;line-height:54px;padding:0 20px;margin:0 10px 10px 0;border-radius:54px;display:inline-block;background:#f4f4f4;box-shadow:0 3px rgba(221, 221, 221, 1);font-family:HouschkaExtraBold;font-size:16px;text-transform:uppercase;color:#262626}
.b-shedule-list__time.active {background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1)}
.b-shedule-list__time.inactive {color:#c2c2c2}
.b-shedule-list__ticket {width:32px;height:32px;display:inline-block;vertical-align:middle;background:url(../img/ticket-icon.png) 0 0 no-repeat;margin:0 0 0 10px;text-indent:-10000px}

.ymaps-2-1-42-balloon {background:#fff !important;border-radius:20px !important;padding:0 0 0 20px !important}
.ymaps-2-1-42-balloon__layout {background:none !important}

.b-map-balloon {}
.b-map-balloon__place-and-address {padding:50px 0 0 0;margin:0 0 30px 0;text-align:center}
.b-map-balloon__place {font-family:HouschkaExtraBold;font-size:20px;color:#288ac1;margin:0 0 10px 0}
.b-map-balloon__address {font-family:HouschkaDemiBold;font-size:15px;color:#919399}
.b-map-balloon__times {text-align:center;margin:0 0 40px 0}
.b-map-balloon__time {height:54px;line-height:54px;padding:0 20px;margin:0 5px 10px 5px;border-radius:54px;display:inline-block;background:#f4f4f4;box-shadow:0 3px rgba(221, 221, 221, 1);font-family:HouschkaExtraBold;font-size:16px;text-transform:uppercase;color:#262626}
.b-map-balloon__time.active {background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1)}
.b-map-balloon__time.inactive {color:#c2c2c2}
.b-map-balloon__ticket {width:32px;height:32px;display:inline-block;vertical-align:middle;background:url(../img/ticket-icon.png) 0 0 no-repeat;margin:0 0 0 10px;text-indent:-10000px}


@media (max-width: 1000px) {

.b-shedule-filter {margin:0 0 0 30px}
.b-shedule-filter__data {margin:0 0 20px 0}
.b-shedule-filter__header {font-size:24px;line-height:24px;display:block}

.b-shedule-list {padding:0 0 0 30px}

}

@media (max-width: 600px) {

.b-shedule-filter__search {margin:0 30px 12px 0;display:block}
.b-shedule-filter__search input {width:100%}

.b-shedule-filter__release {margin:0 0 12px 0;display:block;width:220px}
.b-shedule-filter__tabs2 {margin:0 0 12px 0;display:block;width:220px}

.b-shedule-filter__tabs {display:none}
.b-shedule-filter__tabs2 {display:block}
.b-shedule-filter__switch {display:none}

.b-shedule-list li {display:block}
.b-shedule-list__place-and-address {width:100%;display:block;padding:30px 0 0 0}
.b-shedule-list__times {width:100%;display:block;padding:30px 0 20px 0;}


}



/* ---------------------------------------- footer */

.b-social {font-size:0}
.b-social ul {list-style-type:none}
.b-social ul li {width:25%;min-height:70px;display:inline-block;position:relative;vertical-align:top}
.b-social ul li a {width:44px;height:44px;border-radius:44px;display:block;text-indent:-10000px;cursor:pointer;position:absolute;top:0;left:50px}
.b-social ul li:nth-child(1) a {background:#4c74a2 url(../img/vk.png) 10px 10px no-repeat;box-shadow:0 3px rgba(2, 61, 103, 1)}
.b-social ul li:nth-child(2) a {background:#3b579d url(../img/fb.png) 10px 10px no-repeat;box-shadow:0 3px rgba(0, 38, 100, 1)}
.b-social ul li:nth-child(3) a {background:#f2812e url(../img/ok.png) 10px 10px no-repeat;box-shadow:0 3px rgba(191, 87, 0, 1)}
.b-social ul li:nth-child(4) a {background:#517fa7 url(../img/ig.png) 10px 10px no-repeat;box-shadow:0 3px rgba(25, 78, 115, 1)}
.b-social__followers {padding:0 0 0 115px;font-family:HouschkaBold;font-size:16px;color:#a6adc0}
.b-social__followers span {font-size:18px;color:#2e3c54;display:block}

.b-site-map {font-size:0}
.b-site-map ul {width:250px;padding:0 30px 0 50px;margin:0 5px 40px 0;display:inline-block;vertical-align:top;list-style-type:none}
.b-site-map ul:nth-child(3) {margin:0}
.b-site-map ul li {font-family:HouschkaExtraBold;font-size:24px;color:#fff;margin:0 0 12px 0}
.b-site-map ul li a {font-family:HouschkaDemiBold;font-size:16px;color:#636169}
.b-site-map ul li a:hover {color:#fabd2d}

.b-copyright {padding:50px 0 0 50px}
.b-copyright p {font-family:HouschkaBold;font-size:14px;color:#6c7078}
.b-copyright p a {color:#6c7078}
.b-copyright p a:hover {color:#ee2a51}

.b-top-link {position:absolute;top:50px;right:102px;font-family:HouschkaBold;font-size:14px;text-transform:uppercase}
.b-top-link a {color:#a6adc0}
.b-top-link a:hover {color:#ee2a51}
.b-top-link a:before {content:"";width:38px;height:38px;background:#f4f4f4 url(../img/up-icon.png) 11px 11px no-repeat;border-radius:38px;display:block;position:absolute;top:-13px;right:-52px;box-shadow:0 3px rgba(221, 221, 221, 1)}

.b-counter {position:absolute;font-size:0;left:2px;bottom:2px}

@media (max-width: 1000px) {

.b-social ul li {width:50%}

.b-site-map ul {width:auto;display:block}

.b-copyright {padding:30px 100px 0 30px}

.b-top-link {font-size:0;right:82px}

}

@media (max-width: 600px) {

.b-social ul li {width:100%}

}

/* ---------------------------------------- globals */

.b-h2-header {font-size:60px;line-height:60px;font-family:HouschkaExtraBold;margin:0 0 50px 0;text-align:center;color:#51b748}
.b-h2-header span {display:inline-block;padding:0 0 15px 0;background:url(../img/wave.png) 0 100% repeat-x}

.b-h2-header2 {font-size:24px;line-height:24px;font-family:HouschkaExtraBold;margin:0 0 50px 0;text-align:center;color:#51b748;text-transform:uppercase}
.b-h2-header2 span {display:inline-block;padding:0 0 15px 0;background:url(../img/wave.png) 0 100% repeat-x}
.b-h2-header2 a {color:#51b748}

.b-h3-header {height:137px;display:table-cell;vertical-align:middle;padding:0 250px 0 50px;font-family:HouschkaExtraBold;font-size:36px;position:relative}
.b-h3-header a {color:#3b3b42}
.b-h3-header a:hover {color:#fabd2d}
.b-h3-header_invert a {color:#fff}
.b-h3-header_invert a:hover {color:#4f3b9c}

.b-all-link {position:absolute;top:64px;right:102px;font-family:HouschkaBold;font-size:14px;text-transform:uppercase}
.b-all-link a {color:#a6adc0}
.b-all-link a:before {content:"";width:38px;height:38px;background:#fabd2d url(../img/all-icon.png) 11px 11px no-repeat;border-radius:38px;display:block;position:absolute;top:-13px;right:-52px;box-shadow:0 3px rgba(202, 128, 0, 1)}
.b-all-link_invert a {color:#fff}
.b-all-link_invert a:before {background:#4f3b9c url(../img/all-icon.png) 11px 11px no-repeat;box-shadow:0 3px rgba(40, 26, 91, 1)}

.b-all-block {height:121px;padding:65px 0 0 0;text-align:center;background:#463588 url(../img/home-release-bg.png) 0 0 no-repeat}
.b-all-block .b-button01 i {width:24px;height:24px;display:inline-block;background:url(../img/next-icon3.png) 0 0 no-repeat;vertical-align:middle;margin:0 0 0 11px}

a.b-button01 {height:54px;line-height:54px;padding:0 30px;border-radius:54px;display:inline-block;background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1);font-family:HouschkaExtraBold;font-size:16px;text-transform:uppercase;color:#262626}
a.b-button01:hover {text-decoration:none;background:#ffdd00;box-shadow:0 3px rgba(217, 156, 0, 1)}

input.b-button01 {height:54px;line-height:54px;padding:0 30px;border:0;border-radius:54px;display:inline-block;background:#c6c6c6;box-shadow:0 3px rgba(202, 128, 0, 1);font-family:HouschkaExtraBold;font-size:16px;text-transform:uppercase;color:#262626;cursor:pointer;-webkit-appearance:none}

a.b-button02 {height:54px;line-height:54px;padding:0 20px;border-radius:14px;display:inline-block;background:#c6c6c6;box-shadow:0 3px rgba(61, 61, 61, 1);font-family:HouschkaExtraBold;font-size:16px;text-transform:uppercase;color:#fff}
a.b-button02:hover {text-decoration:none;background:#3d3d3d;box-shadow:0 3px rgba(61, 61, 61, 1)}

.b-pagination {position:relative;text-align:center}
.b-pagination_short {display:none}
.b-pagination ul {list-style-type:none;margin:0;padding:0;}
.b-pagination ul li {display:inline-block;font-family:HouschkaExtraBold;font-size:16px;line-height:54px;margin:0 5px}
.b-pagination ul li a {display:inline-block;min-width:20px;text-align:center;background:#f4f4f4;border-radius:25px;color:#262626;padding:0 30px;box-shadow:0 3px rgba(221, 221, 221, 1)}
.b-pagination ul li a:hover {text-decoration:none}
.b-pagination ul li.active a {background:#fabd2d;box-shadow:0 3px rgba(202, 128, 0, 1)}
.b-pagination ul li.first-arrow a {background:#f4f4f4 url(../img/prev-icon3.png) 50% 50% no-repeat;text-indent:-10000px}
.b-pagination ul li.last-arrow a {background:#f4f4f4 url(../img/next-icon3.png) 50% 50% no-repeat;text-indent:-10000px}

@media (max-width: 1000px) {

.b-h2-header {font-size:36px;line-height:36px;margin:0 0 40px 0;}

.b-h2-header2 {font-size:22px;line-height:22px;margin:0 0 40px 0}

.b-h3-header {height:100px;padding:0 30px;font-size:30px;line-height:30px}

.b-all-link {display:none}

.b-pagination {display:none}
.b-pagination_short {display:block}

}

.b-window {display:none}
.b-window__modal {background:#000;opacity:0.65;z-index:9998;position:fixed;left:0;right:0;top:0;height:100%}
.b-window-block {position:fixed;top:50%;left:50%;background:#fff;z-index:9999}
.b-window-block_video {width:720px;height:414px;margin:-207px 0 0 -360px}
.b-window-block_form {width:720px;height:480px;margin:-240px 0 0 -360px;border-radius:20px}
.b-window-close {width:54px;height:54px;display:block;border-radius:54px;background:#51b748 url(../img/close-icon.png) 15px 15px no-repeat;position:absolute;right:20px;top:-64px;text-indent:-10000px}
.b-window-body {padding:10px}
.b-window-block_form .b-window-body {padding:40px}
.b-window-block_form .b-h2-header2 {margin:0 0 30px 0}

.b-window-form {}
.b-window-form form fieldset {border:none}
.b-window-form form legend {display:none}
.b-window-form__text {font-family:HouschkaDemiBold;font-size:16px;color:#262626;text-align:center;margin:0 60px 30px 60px}
.b-window-form__text p {margin:0 0 10px 0}
.b-window-form__text p span {color:#d62b2b}
.b-window-form__data {margin:0 0 20px 0;font-size:0}
.b-window-form__label {display:block;font-family:HouschkaExtraBold;font-size:20px;line-height:20px;color:#288ac1;display:inline-block;width:20%}
.b-window-form__input {display:inline-block;width:60%;vertical-align:middle;height:54px;padding:0 20px;margin:0 10px 12px 0;border-radius:54px;background:#f1f1f1;position:relative}
.b-window-form__input input {width:100%;height:54px;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#c2c2c2;background:none}
.b-window-form__button {margin:0 0 0 20%}

@media (max-width: 1000px) {

.b-window-block {top:74px;left:10px;right:10px}
.b-window-block_video {width:auto;height:auto;margin:0}
.b-window-block_form {width:auto;height:auto;margin:0;bottom:10px}


}

@media (max-width: 600px) {

.b-window-block_form .b-window-body {padding:40px 20px}

.b-window-block_form {position:absolute;width:auto;height:auto;margin:0;min-height:600px}

.b-window-form__text {margin:0 0 30px 0}
.b-window-form__label {display:block;white-space:nowrap;margin:0 0 10px 20px}
.b-window-form__input {width:80%}
.b-window-form__button {margin:0}



}


ul.devices{color:#fff;}
ul.devices>li{width: 49%;display: inline-block;position: relative;margin: 0 1% 1% 0;vertical-align: top;}
/*ul.devices>li:nth-child(1) {background:#f7d7d7}
ul.devices>li:nth-child(4) {background:#f7d7d7}
ul.devices>li:nth-child(5) {background:#f7d7d7}
ul.devices>li:nth-child(8) {background:#f7d7d7}
ul.devices>li:nth-child(9) {background:#f7d7d7}*/


ul.devices>li:nth-child(1) {background:#ef7a7a}
ul.devices>li:nth-child(4) {background:#ef7a7a}
ul.devices>li:nth-child(5) {background:#ef7a7a}
ul.devices>li:nth-child(8) {background:#ef7a7a}
ul.devices>li:nth-child(9) {background:#ef7a7a}

ul.devices>li:nth-child(2) {background:#3d3d3d}
ul.devices>li:nth-child(3) {background:#3d3d3d}
ul.devices>li:nth-child(6) {background:#3d3d3d}
ul.devices>li:nth-child(7) {background:#3d3d3d}

/* ---------------------------------------- Buttons */
/*a:hover.BType1_01 {
    background-image: linear-gradient(#f2f2f2, #c9c9c9);
    color: #333;
    cursor: pointer;
}

a.BType1_01 {
    display: block;
    height: 30px;
    text-align: center;
    font: bold 12px/12px arial;
    color: #000;
    text-decoration: none;
    background: #b9b9b9;
    background-image: linear-gradient(#f2f2f2, #b9b9b9);
    border: 1px solid #bababa;
    border-radius: 2px;
}

a.BType1_01 span {
    display: block;
    height: 22px;
    padding: 9px 0 0 0;
}*/
ul.commands>li>a {
    display: block;
    width: 140px;
    margin: 10px 0px 0;
    text-align: center;
    padding: 0;
    height: 22px;
    line-height: 22px;
    background-color: #d66f6f;
    /*background: linear-gradient(to top,#d66f6f,#d66f6f);*/
    border: 1px solid #d66f6f;
    /*border-color: #d66f6f #d66f6f #d66f6f;*/
    border-radius: 1px;
    color: #fff;
    text-decoration: none;
    font-size: 9.5pt;
    font-weight: 700;
    /*text-shadow: 0 -1px 0 #d66f6f;*/
    transition: all .1s ease;
}
ul.devices>li:nth-child(1) ul.commands li a {background-color: #3f3131;}
ul.devices>li:nth-child(4) ul.commands li a {background-color: #3f3131;}
ul.devices>li:nth-child(5) ul.commands li a {background-color: #3f3131;}
ul.devices>li:nth-child(8) ul.commands li a {background-color: #3f3131;}
ul.devices>li:nth-child(9) ul.commands li a {background-color: #3f3131;}

ul.devices>li:nth-child(2) ul.commands li a {background-color: #d66f6f;}
ul.devices>li:nth-child(3) ul.commands li a {background-color: #d66f6f;}
ul.devices>li:nth-child(6) ul.commands li a {background-color: #d66f6f;}
ul.devices>li:nth-child(7) ul.commands li a {background-color: #d66f6f;}
/*ul.commands>li>a {
    display: block;
    width: 140px;
    margin: 10px 0px 0;
    text-align: center;
    padding: 0;
    height: 22px;
    line-height: 22px;
    background-color: #f3a21f;
    background: linear-gradient(to top,#f28c13,#f5ba2c);
    border: 1px solid #f2c70f;
    border-color: #f39b1a #e48e17 #d37d14;
    border-radius: 1px;
    color: #fff;
    text-decoration: none;
    font-size: 9.5pt;
    font-weight: 700;
    text-shadow: 0 -1px 0 #dc8616;
    transition: all .1s ease;
}*/


/*.b-input {display:inline-block;vertical-align:top;height:54px;padding:0 20px 0 54px;margin:0 10px 12px 0;border-radius:54px;background:#f1f1f1;position:relative}*/
.b-input {width:100px;height:54px;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#c2c2c2;background:none;border-radius:14px;background:#f1f1f1;margin:0px 0px 0px 10px;padding: 0px 0px 0px 10px;}
.error {background-color: red;}

.b-command-button {margin:0px 0px 0px 10px;}

/* ---------------------------------------- Messages */

#GlobalMessageType1 {position:fixed;right:1px;bottom:1px}

/* autohide */
#GlobalMessageType1 .MessageType1 {padding:5px 10px;background:#1c94c4;;color:#fff;font-size:10pt}
#GlobalMessageType1 .MessageType1 p {}

#GlobalMessageType1 .MessageType3 {padding:5px 10px;background:#c92000;color:#fff;font-size:10pt}
#GlobalMessageType1 .MessageType3 p {}

/* yellow constant */
#GlobalMessageType1 .MessageType2 {padding:5px 10px;background:#fff3b2;color:#000;font-size:10pt}
#GlobalMessageType1 .MessageType2 p {}
#GlobalMessageType1 .MessageType2 ul {list-style-type:none}
#GlobalMessageType1 .MessageType2 ul li {margin:0 0 5px 0}
#GlobalMessageType1 .MessageType2 ul li a {color:#000;text-decoration:underline}
#GlobalMessageType1 .MessageType2 ul li a:hover {text-decoration:none}
